<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Your Custom CSS -->
    <link rel="stylesheet" th:href="@{../../style.css}">
</head>
<body>

<div th:replace="fragments/fragment :: navbar"></div>

<div class="row g-0 vh-100 bg-light">
    <img class="col-md-6 bg-image" th:src="@{/images/webpage/registration-form.jpg}" src="/images/webpage/registration-form.jpg" alt="picture"></img>
    <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="px-5">
            <div class="text-center mb-5">
                <p id="logo-text">byte<span class="yellow-dot">.</span></p>
                <h2 class="registration-header">
                    Taste of Change, <span>Modifying User</span> Details<span class="yellow-dot">.</span>
                </h2>
            </div>
        <form class="row g-3" th:action="@{/profile/edit-user/{username}(username=${requestedUser.getUsername()})}" method="post">

            <!-- Error Message -->
            <div class="col-12">
                <p th:if="${error != null}" th:text="${error}" class="alert alert-danger" role="alert"></p>
            </div>

            <div class="row">
                <!-- Left Column -->
                <div class="col-md-6">
                    <!-- First Name, Last Name, Username, Email, Password, Confirm Password, Phone Number, Role -->
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="firstName" class="form-label">First Name:</label>
                            <input type="text" class="form-control mb-2" id="firstName" name="firstName" th:value="${requestedUser.getFirstName()}" required>
                        </div>
                        <div class="col-md-6">
                            <label for="lastName" class="form-label">Last Name:</label>
                            <input type="text" class="form-control mb-2" id="lastName" name="lastName" th:value="${requestedUser.getLastName()}" required>
                        </div>
                        <div class="col-md-12">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" class="form-control mb-2" id="username" name="username" th:value="${requestedUser.getUsername()}" required>
                        </div>
                        <div class="col-md-12">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control mb-2" id="email" name="email" th:value="${requestedUser.getEmail()}" required>
                        </div>
                        <div class="col-md-6">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" class="form-control mb-4" id="password" name="password" required>
                        </div>
                        <div class="col-md-6">
                            <label for="confirmPassword" class="form-label">Confirm Password:</label>
                            <input type="password" class="form-control mb-4" id="confirmPassword" name="confirmPassword" required>
                        </div>
                        <div class="col-md-12">
                            <label for="phoneNumber" class="form-label">Phone Number:</label>
                            <input type="tel" class="form-control mb-2" id="phoneNumber" name="phoneNumber" th:value="${requestedUser.getPhoneNumber()}" required>
                        </div>
                        <div class="col-md-12" th:if="${user.getRole()}=='admin'">
                            <label for="role" class="form-label">Role:</label>
                            <select class="form-control mb-2" id="role" name="role" required>
                                <option value="user" th:selected="${requestedUser.getRole() == 'user'}">User</option>
                                <option value="admin" th:selected="${requestedUser.getRole() == 'admin'}">Admin</option>
                                <option value="owner" th:selected="${requestedUser.getRole() == 'owner'}">Owner</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Right Column -->
                <div class="col-md-6">
                    <!-- Street, City, Province, Country, Postal Code -->
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="inputStreet" class="form-label">Street</label>
                            <input type="text" class="form-control mb-2" id="inputStreet" th:value="${requestedUser.getAddress().getStreet()}" name="street" required>
                        </div>
                        <div class="col-12">
                            <label for="inputCity" class="form-label">City</label>
                            <input type="text" class="form-control mb-2" id="inputCity" name="city" th:value="${requestedUser.getAddress().getCity()}" required>
                        </div>
                        <div class="col-12">
                            <label for="inputProvince" class="form-label">Province</label>
                            <input type="text" class="form-control mb-2" id="inputProvince" name="province" required th:value="${requestedUser.getAddress().getProvince()}">
                        </div>
                        <div class="col-12">
                            <label for="inputCountry" class="form-label">Country</label>
                            <input type="text" class="form-control mb-2" id="inputCountry" name="country" required th:value="${requestedUser.getAddress().getCountry()}">
                        </div>
                        <div class="col-12">
                            <label for="inputPostalCode" class="form-label">Postal Code</label>
                            <input type="text" class="form-control mb-2" id="inputPostalCode" name="postalCode" th:value="${requestedUser.getAddress().getPostalCode()}" required>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="col-12">
                <button type="submit" class="btn btn-success w-100 my-2">Apply Changes</button>

            </div>
        </form>
        </div>
    </div>
</div>


</body>
</html>
