<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Your Custom CSS -->
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">

<div class="card w-100" style="max-width: 400px;">
    <div class="card-body">
        <form class="row g-3" th:action="@{/restaurant/edit-restaurant/{restaurantname}(restaurantname=${restaurant.getName()})}" method="post">
            <div class="col-12">
                <p th:if="${error != null}" th:text="${error}" class="alert alert-danger" role="alert"></p>
            </div>
            <!-- Restaurant Name Input -->
            <div class="col-12">
                <label for="inputName" class="form-label">Name</label>
                <input type="text" class="form-control mb-2" id="inputName" th:value="${restaurant.getName()}" name="restaurantName">
            </div>

            <!-- Contact Number Input -->
            <div class="col-12">
                <label for="inputContactNumber" class="form-label">Contact Number</label>
                <input type="text" class="form-control mb-2" id="inputContactNumber" th:value="${restaurant.getContactNumber()}" name="contactNumber">
            </div>



            <!-- Submit Button -->
            <div class="col-12">
                <button type="submit" class="btn btn-primary w-100 mb-2">Submit</button>
            </div>
        </form>
    </div>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
