<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Your Custom CSS -->
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div th:replace="fragments/fragment :: navbar"></div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div th:each="menuItem : ${menu}" class="col">
        <div class="card h-100">
            <img th:src="@{/{picturePath}(picturePath=${menuItem.getImageURL()})}" class="card-img-top" alt="Restaurant Image">
            <div class="card-body">
                <!-- Display Restaurant Name -->
                <h5 class="card-title" th:text="${menuItem.getName()}">Restaurant Name</h5>
                <!-- Display Restaurant Rating -->
                <p class="card-rating" th:text="${'Price: ' + menuItem.getPrice()}">Rating</p>
                <!-- Display Closest Address if Logged In -->
                <div class="card-text" th:if="${loggedIn}">
                    <span th:text="${menuItem.getDescription()}"></span>
                    <a th:href="@{/}" class="btn btn-custom-color w-100 mb-2">Order</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>