<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Your Custom CSS -->
    <link rel="stylesheet" th:href="@{../style.css}">
</head>
<body>

<div th:replace="fragments/fragment :: navbar"></div>

<div th:if="${successMessage}">
    <p class="alert alert-success" th:text="${successMessage}"></p>
</div>
<div th:if="${errorMessage}">
    <p class="alert alert-danger" th:text="${errorMessage}"></p>
</div>

<table>
    <th>Personal Information</th>
    <tr>
        <td>Full name:</td>
        <td th:text="${user.getFirstName() + ' ' + user.getLastName()}"></td>
    </tr>
    <tr>
        <td>Username</td>
        <td th:text="${user.getUsername()}"></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td th:text="${user.getEmail()}"></td>
    </tr>
    <tr>
        <td>Role:</td>
        <td th:text="${user.getRole()}"></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td th:if="${user.getAddress()!=null}" th:text="${user.getAddress().getStreet() + ' ' + user.getAddress().getCity() + ' ' + user.getAddress().getPostalCode()}"></td>
    </tr>
    <tr>
        <td></td>
        <td><a class="btn btn-primary w-100 mb-2" th:href="@{/profile/edit-user/{username}(username=${user.getUsername()})}">Edit Info</a></td>
    </tr>
</table>


<table th:if="${users != null}" style="border: #212121 1px solid">
    <th th:text="Users">Users</th>
    <tr><td><a class="btn btn-primary w-100 mb-2" th:href="@{/profile/add-user}">Add User</a></td></tr>
    <tr>
        <td>Username</td>
        <td>Full Name</td>
        <td>Email</td>
        <td>Role</td>
        <td>Address</td>
        <td></td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getUsername()}">User Name</td>
        <td th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">Full Name</td>
        <td th:text="${user.getEmail()}">Email</td>
        <td th:text="${user.getRole()}">Role</td>
        <td th:if="${user.getAddress()!=null}" th:text="${user.getAddress().getStreet() + ' ' + user.getAddress().getCity() + ' ' + user.getAddress().getPostalCode()}">Address</td>

        <td><a class="btn btn-primary w-100 mb-2" th:href="@{/profile/edit-user/{username}(username=${user.getUsername()})}">Edit User</a></td>
        <td><form th:action="@{/profile/delete-user/{username}(username=${user.getUsername()})}" method="post">
            <button type="submit" class="btn btn-primary w-100 mb-2">Delete User</button>
        </form></td>
    </tr>
</table>

<table th:if="${restaurants != null}" style="border: #212121 1px solid">
    <th>Restaurants</th>
    <tr><td><a class="btn btn-primary w-100 mb-2" th:href="@{/restaurant}">Add Restaurant</a></td></tr>
    <tr>
        <td>Restaurant Name</td>
        <td>Owner</td>
        <td>Rating</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr th:each="restaurant : ${restaurants}">
        <td th:text="${restaurant.getName()}">Restaurant Name</td>
        <td th:text="${restaurant.getOwner().getFirstName()} + ' ' + ${restaurant.getOwner().getLastName()}">Owner Name</td>
        <td th:text="${restaurant.getRating()}">Rating</td>
        <td >
            <ul th:each="address : ${restaurant.getAddress()}">
                <li th:text="${address.getStreet() + ' ' + address.getCity()}"></li>
            </ul>
        </td>
        <td>
            <a class="btn btn-primary w-100 mb-2" th:href="@{/restaurant/edit-restaurant/{restaurantId}(restaurantId=${restaurant.getName()})}">Edit</a>
        </td>
        <td>
            <form th:action="@{/restaurant/delete/{id}(id=${restaurant.id})}" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
        <td>
            <a class="btn btn-primary w-100 mb-2" th:href="@{/menu-items/{restaurantName}(restaurantName=${restaurant.getName()})}">Info</a>
        </td>
    </tr>
</table>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
