<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Your Custom CSS -->
    <link rel="stylesheet" th:href="@{../../style.css}">
</head>
<body>

<div th:replace="fragments/fragment :: navbar"></div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div th:each="order : ${orders}" class="col">
        <div class="card h-70">
            <div class="card-body">
                <h5 class="card-title" th:text="${'Order ID: '+order.getId()}"></h5>
                <ul th:each="item : ${order.getOrderItems()}">
                    <li th:text="${item.getMenuItem().getName()}"></li>
                </ul>
                <p class="card-rating" th:text="${'Price: ' + order.getTotalAmount()}">Price</p>
                <p class="card-rating" th:text="${'Reviwe: ' + order.getRating()}">Price</p>
                <p class="card-rating" th:text="${'Comment: ' + order.getComment()}">Price</p>

            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <a th:href="@{/menu-items/add-item/{restaurantName}(restaurantName=${restaurant.getName()})}">Add</a>
    <div th:each="menuItem : ${menuItem}" class="col">
        <div class="card h-100">
            <img th:src="@{/{picturePath}(picturePath=${menuItem.getImageURL()})}" class="card-img-top" alt="Menu Item Image">
            <div class="card-body">
                <h5 class="card-title" th:text="${menuItem.getName()}">Menu Item Name</h5>
                <p class="card-rating" th:text="${'Price: ' + menuItem.getPrice()}">Price</p>
                <p class="card-text" th:text="${menuItem.getDescription()}">Description</p>
                <a th:href="@{/menu-items/{restaurantName}/edit-menuitem/{menuItemId}(restaurantName=${restaurant.getName()},menuItemId=${menuItem.getId()})}">Edit</a>
                 <form th:action="@{/menu-items/{restaurantName}/delete/{menuItemId}(restaurantName=${restaurant.getName()},menuItemId=${menuItem.getId()})}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                 </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
